*{
    margin: 0;
    padding: 0;
}

.TextoFooter {
    text-align: left;
    color: aliceblue;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Heder {
    background-color: rgb(37, 32, 99);
    width: 120cm;
    height: 3cm;
    padding: 0;
}
.BarraNav {
    position: relative; 
    text-align: right;
    width: 80%;
    top: -130px ; 
    left: 140px ;
    
}

.botones{
    margin-left: 200px;
}

body {
    background-color: rgb(186, 217, 237);
    margin: 0;
    padding: 0;
}

.footer{
    position: relative;
    top: 9cm;
    background-color: rgb(37, 32, 99);
    width: 100%;
    height: 6cm;
    margin: 0;
    padding: 0;
}


#Profecionales {

    position: relative;  
    left: 13cm;  
    top: -51px;

}

.horarios{
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

#Infoutil {

    position: relative;
    left: 20cm;
    top: -88px;

} 

#Turneros {

    position: relative;
    left: 17cm;
    top: -70px;
}

.txt{
    text-align: left;
    color: aliceblue;
}

form {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px !important;
}
  
  /* Estilo para la lista sin viñetas */
ul {
    list-style: none;
    padding: 0;
    border-radius: 15px !important;
}
  
  /* Estilo para cada elemento de la lista */
li {
    margin-bottom: 10px;
    border-radius: 15px !important;
    
}
  
  /* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    border-radius: 15px !important;
}
  
  /* Estilo para los campos de entrada */
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 15px !important;
}

.table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}

.td {
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}

.th {
    background-color: #008cff;
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}

.tr{
    background-color: #008cff;
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}
h1, h2, p{
    font-family: Arial, Helvetica, sans-serif;
}