
:root{
    --page_width : 100%;

}
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(241, 237, 237)50, 245, 245);
}

.BarraNav {
    position: relative; 
    text-align: right;
    width: 80%;
    top: -130px ; 
    left: 140px ;
    
}

body {
    background-color:#0f165b;
    margin: 0;
    padding: 0;
}

.Gris {
	background-color:#b4b6c8;

}

imgg {
alt: calc(10);

}

#Profecionales {

    position: relative;  
    left: 13cm;  
    top: -51px;

}

.horarios{
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

#Infoutil {

    position: relative;
    left: 20cm;
    top: -88px;

} 

#Turneros {

    position: relative;
    left: 17cm;
    top: -70px;
}

.txt{
    text-align: left;
    color: aliceblue;
}

form {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px !important;
}
  
  /* Estilo para la lista sin viñetas */
ul {
    list-style: none;
    padding: 0;
    border-radius: 15px !important;
}
  
  /* Estilo para cada elemento de la lista */
li {
	color: #ffffff;
    margin-bottom: 10px;
    border-radius: 15px !important;
    
}
  
  /* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    border-radius: 15px !important;
}
  
  /* Estilo para los campos de entrada */
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 15px !important;
}

.table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}

.td {
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}

.th {
    background-color: #008cff;
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}

.tr{
    background-color: #008cff;
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}
h1, h2, p{
    font-family: Arial, Helvetica, sans-serif;
}

.footer-distributed{ 
	background-color: rgb(37, 32, 99);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left; 
	font: bold 16px sans-serif;
	padding: 55px 50px;
    font-family: Open Sans;
    margin-top: 6%;	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: #50c6d8;
}

/* Footer Centro */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgb(37, 32, 99);;
	border-radius: 2px;

	font-size: 20px;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#textSN1 {

	position: relative;
	margin-top: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: left;
	padding-left: 2%;

}
#HospitalImg {

	position: relative;
	margin-left: 840px;
	margin-top: -250px;

}

#textSN2 {
	text-align: center;
	position: relative;
	margin-top: 100px;
}

<<<<<<< HEAD
.nav-item{
	color: #ffffff;
}
=======
>>>>>>> d78e6e76c7f9beac83cc940f96d2a5bf80a6e279
